@import url("https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;600;700&family=Lexend+Deca:wght@200;300&display=swap");
*,
*::after,
*::before {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
  background-color: #090b1a;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  place-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

main .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  place-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 100%;
  height: 100%;
  background-color: #1b1938;
  margin-top: .9rem;
  margin: auto;
  border-top-left-radius: 9px;
  border-bottom-left-radius: 9px;
  border-top-right-radius: 9px;
  border-bottom-right-radius: 9px;
}

main .container .txt {
  width: 35.7rem;
  height: 27.8rem;
  display: -ms-grid;
  display: grid;
  overflow: hidden;
  color: white;
  padding: 4.7rem;
}

main .container .txt h1 {
  margin-top: -8px;
  line-height: 2.8rem;
  font-size: clamp(2.3rem, 1.6vw, 1.8rem);
  font-weight: 700;
  font-family: Inter;
}

main .container .txt h1 span {
  color: #aa5cdb;
}

main .container .txt p {
  margin-top: 1.5rem;
  font-weight: 400;
  font-family: Inter;
  font-size: clamp(15px, 1.3vw, 0.8rem);
  color: rgba(255, 255, 255, 0.75);
  line-height: 1.6rem;
  width: 23rem;
}

main .container .mainpic {
  background: #aa5cdb;
  width: 33.7rem;
  height: 27.8rem;
  border-top-right-radius: 9px;
  border-bottom-right-radius: 9px;
}

main .container .mainpic .overlay {
  mix-blend-mode: multiply;
  background: url("../img/banner.jpg") no-repeat;
  width: 100%;
  height: 100%;
  opacity: 0.8;
}

main .number_container {
  margin-top: 4.3rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-size: clamp(1rem, 0.6vw, 0.5rem);
  font-weight: 400;
  font-family: Inter;
  width: 22rem;
}

main .number_container .m,
main .number_container span.c,
main .number_container span.t,
main .number_container span.q {
  text-transform: uppercase;
}

main .number_container h2 {
  font-weight: 700;
  font-family: Inter;
  font-size: clamp(1.4rem, 1vh, 0.3rem);
  margin: 0 0 6px;
}

main .number_container span.c,
main .number_container span.t,
main .number_container span.q {
  font-weight: 300;
  font-family: "Lexend Deca";
  font-size: clamp(12px, 1vh, 0.8rem);
  letter-spacing: 1px;
  color: rgba(255, 255, 255, 0.6);
}

@media (max-width: 600px) {
  main .container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    width: 17.2rem;
    height: 36.4rem;
  }
  main .container .txt {
    width: 16rem;
    height: 30rem;
    display: -ms-grid;
    display: grid;
    overflow: hidden;
    color: white;
    padding: 1.1rem;
  }
  main .container .txt h1 {
    width: 13rem;
    text-align: center;
    margin-top: 0;
    line-height: 1.3rem;
    font-size: clamp(1.3rem, 1.6vw, 1.1rem);
    font-weight: 700;
    font-family: Inter;
  }
  main .container .txt h1 span {
    color: #aa5cdb;
  }
  main .container .txt p {
    margin-top: .9rem;
    font-weight: 400;
    font-family: Inter;
    font-size: clamp(13px, 1.3vw, 0.8rem);
    color: rgba(255, 255, 255, 0.75);
    line-height: 1.2rem;
    width: 14rem;
    text-align: center;
  }
  main .container .mainpic {
    background: #aa5cdb;
    width: 275px;
    height: 200px;
    border-top-right-radius: 9px;
    border-top-left-radius: 9px;
    border-bottom-right-radius: 0px;
  }
  main .container .mainpic .overlay {
    mix-blend-mode: multiply;
    background: url("../img/image-header-mobile.jpg") no-repeat;
    background-size: 300px;
    opacity: 0.8;
  }
  main .container .number_container {
    margin-top: 2rem;
    display: -ms-grid;
    display: grid;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    font-size: clamp(0.6rem, 0.6vw, 0.2rem);
    font-weight: 400;
    font-family: Inter;
    width: 230px;
    height: 200px;
  }
  main .container .number_container .m,
  main .container .number_container span.c,
  main .container .number_container span.t,
  main .container .number_container span.q {
    text-transform: uppercase;
  }
  main .container .number_container h2 {
    font-weight: 700;
    font-family: Inter;
    font-size: clamp(1rem, 1vh, 0.3rem);
    margin: 0 0 6px;
  }
  main .container .number_container span.c,
  main .container .number_container span.t,
  main .container .number_container span.q {
    font-weight: 300;
    font-family: "Lexend Deca";
    font-size: clamp(12px, 1vh, 0.8rem);
    letter-spacing: 1px;
    color: rgba(255, 255, 255, 0.6);
  }
}
/*# sourceMappingURL=style.css.map */